.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 87.7vh;
  min-width: 100vw;
  font-family: Roboto;
}

.dark-bg {
  background-color: #000000;
}

.not-found-img {
  height: 50%;
  width: 50%;
}

@media screen and (min-width: 767px) {
  .not-found-img {
    height: 30%;
    width: 30%;
  }
}

.notfound-head {
  font-weight: 400;
}

.notfound-desc {
  color: #64748b;
}

.dark {
  color: white;
}
